<br>
<div class="container-fluid maindiv">

    <div class="row headdiv">
        <div class="col-lg-12">
            <h4 style="float: left;">Course Chapters</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">
            <label>Course </label>
        </div>
        <div class="col-lg-4">
            <select class="form-control">
                <option>Select</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">
            <label>Chapter Name </label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Chapter Name">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">
            <label>Chapter Description</label>
        </div>
        <div class="col-lg-4">
            <textarea rows="3" required class="form-control" placeholder="Chapter Description"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">
            <label>Chapter Take Away</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Chapter Take Away">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">
            <label>Chapter Video</label>
        </div>
        <div class="col-lg-4">
            <!-- <textarea rows="3" required class="form-control" placeholder="Chapter Video"></textarea> -->
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">
            <label>Chapter Documents</label>
        </div>
        <div class="col-lg-4">
            <!-- <input type="text" class="form-control" placeholder="Trainer Name"> -->
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addnewbtns" style="width: 100%;">Save</button>

        </div>
        <div class="col-lg-5"></div>
    </div>

</div>
<br>