<br>
<div class="container-fluid maindiv">

    <div class="row headdiv">
        <div class="col-lg-12">
            <h4 style="float: left;">Training Category Master</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">
            <label>Category</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control">
                <option>Select</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">
            <label>Sub Category </label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Sub Category">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">
            <label>Description</label>
        </div>
        <div class="col-lg-4">
            <textarea rows="3" required class="form-control" placeholder="Description"></textarea>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addnewbtns" style="width: 100%;">Save</button>

        </div>
        <div class="col-lg-5"></div>
    </div>

</div>
<br>