/* You can add global styles to this file, and also import other style files */
.addnewbtns {
    background-color: #f18235;
    color: aliceblue;
    border: none;
    font-size: 16px;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
    width: auto;
    float: right;
    margin-top: -2px;
  } 
 
  .msgbtn {
   background-color: #5f5e5d;
   color: aliceblue;
   border: none;
   font-size: 15px;
   padding-left: 3%;
   padding-right: 3%;
   border-radius: 5px;
   width: 100px;
 } 
  .maindiv{
    background-color: #ffffff;
    padding: 3%;
    border-radius: 5px;
  }
  
  .headdiv{
    background-color: #f18235;
    color: white;
    padding-top: 8px;
  } 
  
  table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
 
 td, th {
    border: 1px solid #dddddd; 
   text-align: left;
   padding: 8px;
   font-size: 14px;
 }
 
 th{
   background-color: #ffa800;
   color: aliceblue;
 }
 
 .form-control{
   height: 34px;
     font-size: 14px;
 
 }
 
 tr:nth-child(even) {
   background-color: white;
 }::-webkit-scrollbar {
   width: 6px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #888; 
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555; 
 }
 
 
 h1,h2,h3,h4,h5,h6,label,p,a{
   font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
 }
 
 h4{
   font-size: 18px;
 }
 
 label,p,a{
   font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
 }
 label{
   font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
   font-size: 14px;
 }
 p{
   font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
 }
 a{
   font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
   font-size: 14px;
 }
 
 th,td{
   font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
 }
  .ck-editor__editable_inline {
   min-height: 200px !important;
 }
 .h4{
  text-transform: uppercase;
 }
 .specforimg
 {
   background-color: #86c5be;
   height:70px;
   width:100%;
 }